<div mat-dialog-content>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><p>{{data.name}}</p></mat-card-title>
            <mat-card-subtitle>Age: {{data.age}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{data.thumbnail}}" responsive>
        <mat-card-content>

            <h3 *ngIf="data.friends.length > 0"> Friends </h3>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let friend of data.friends">{{friend}}</mat-list-item>
            </mat-list>

            <h3 *ngIf="data.friends.length > 0"> Professions </h3>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let profession of data.professions">{{profession}}</mat-list-item>
            </mat-list>
            
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
