<h3>{{title}} </h3> 
<h4>Total of the habitants here is: {{paginatorLength}}</h4>

<p class="subtitle">You can find in the whole poblation typing whatever you want <i>(name, haird color, age, professions, etc)</i> and also you can
  observe the <strong>photo</strong> and <strong>friends</strong> of the each habitant clicking on <mat-icon aria-hidden="false" aria-label="Photo">info</mat-icon>
</p>

<div class="example-header">
    <mat-icon aria-hidden="false" aria-label="Photo">search</mat-icon>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Find them!">
    </mat-form-field>
  </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
        <td mat-cell *matCellDef="let element"> {{element.height}} </td>
      </ng-container>

      <ng-container matColumnDef="professions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Professions </th>
          <td mat-cell *matCellDef="let element"> 
              <mat-chip-list *ngIf="element.professions.length > 0">
                  <mat-chip *ngFor="let profession of element.professions">{{profession}}</mat-chip>
              </mat-chip-list>
          </td>
        </ng-container>

      <ng-container matColumnDef="hair_color" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> Haird color </th>
        <td mat-cell *matCellDef="let element" [style.color]="element.hair_color"> {{element.hair_color}} </td>
      </ng-container>

       <ng-container matColumnDef="info" mat-sort-header>
          <th mat-header-cell *matHeaderCellDef> + Info </th>
          
          <td mat-cell *matCellDef="let element" (click)="onClickMoreInfo(element)">
              <mat-icon aria-hidden="false" aria-label="Photo">info</mat-icon>  
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="paginatorLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOption" showFirstLastButtons></mat-paginator>
  </div>
